{{! employee details !}}
<script type="text/template" id="employee-details-template">
  <ul class="details-list">
    <li><span class="details-label">Employee ID</span>:<span class="details-value"><%- id %></span></li>
    <li><span class="details-label">Name</span>:<span class="details-value"><%- name %></span></li>
    <li><span class="details-label">Age</span>:<span class="details-value"><%- age %></span></li>
    <li><span class="details-label">Salary</span>:<span class="details-value"><%- salary %></span></li>
  </ul>
</script>
